
DATABASE_URL=postgresql+asyncpg://postgres:lhy965291182@localhost:5433/langgraph_agent_vector_db
LANGGRAPH_DATABASE_URL=postgresql://postgres:lhy965291182@localhost:5433/langgraph_agent_vector_db

LANGSMITH_PROJECT=Langgraph-agent
LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=

MODEL_NAME = 
OPENAI_API_KEY =sk-xxxxxxx
OPENAI_API_BASE = 

TAVILY_API_KEY =  
